:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono:
    ui-monospace, menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono', 'Roboto Mono', 'Oxygen Mono',
    'Ubuntu Monospace', 'Source Code Pro', 'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
  --bs-primary: #00b0e1;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb)))
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

.navbar-nav {
  width: 100%;
}

.ml-auto {
  margin-left: auto;
}

.social-login-title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
  color: #222;
  font-size: 18px;
  font-weight: 500;
  white-space: nowrap;

  &::before {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: #e0e5e6;
    margin-right: 20px;
  }

  &::after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: #e0e5e6;
    margin-left: 20px;
  }
}

.social-login-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    height: 48px;
    font-size: 18px;
    flex-basis: 40%;

    &::before {
      content: '';
      display: block;
      width: 20px;
      height: 20px;
      background-size: 20px 20px;
      background-position: left center;
      background-repeat: no-repeat;
    }

    &.naver {
      --bs-btn-color: #fff;
      --bs-btn-bg: #03c75a;
      --bs-btn-border-color: #03c75a;
      --bs-btn-hover-color: #fff;
      --bs-btn-hover-bg: #02a34a;
      --bs-btn-hover-border-color: #02a34a;
      --bs-btn-focus-shadow-rgb: 3, 199, 90;
      --bs-btn-active-color: #fff;
      --bs-btn-active-bg: #02a34a;
      --bs-btn-active-border-color: #02a34a;
      --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
      --bs-btn-disabled-color: #fff;
      --bs-btn-disabled-bg: #03c75a;
      --bs-btn-disabled-border-color: #03c75a;

      &::before {
        background-image: url('/images/ico-naver.svg');
      }
    }

    &.kakao {
      --bs-btn-color: #371d1e;
      --bs-btn-bg: #fee500;
      --bs-btn-border-color: #fee500;
      --bs-btn-hover-color: #371d1e;
      --bs-btn-hover-bg: #d9c400;
      --bs-btn-hover-border-color: #d9c400;
      --bs-btn-focus-shadow-rgb: 254, 229, 0;
      --bs-btn-active-color: #371d1e;
      --bs-btn-active-bg: #d9c400;
      --bs-btn-active-border-color: #d9c400;
      --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
      --bs-btn-disabled-color: #371d1e;
      --bs-btn-disabled-bg: #fee500;
      --bs-btn-disabled-border-color: #fee500;

      &::before {
        background-image: url('/images/ico-kakao.svg');
      }
    }

    &.google {
      --bs-btn-color: #222;
      --bs-btn-bg: #f2f2f2;
      --bs-btn-border-color: #f2f2f2;
      --bs-btn-hover-color: #222;
      --bs-btn-hover-bg: #e0e0e0;
      --bs-btn-hover-border-color: #e0e0e0;
      --bs-btn-focus-shadow-rgb: 224, 224, 224;
      --bs-btn-active-color: #222;
      --bs-btn-active-bg: #e0e0e0;
      --bs-btn-active-border-color: #e0e0e0;
      --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
      --bs-btn-disabled-color: #222;
      --bs-btn-disabled-bg: #f2f2f2;
      --bs-btn-disabled-border-color: #f2f2f2;

      &::before {
        background-image: url('/images/ico-google.svg');
      }
    }

    &.apple {
      --bs-btn-color: #fff;
      --bs-btn-bg: #000;
      --bs-btn-border-color: #000;
      --bs-btn-hover-color: #fff;
      --bs-btn-hover-bg: #222;
      --bs-btn-hover-border-color: #222;
      --bs-btn-focus-shadow-rgb: 0, 0, 0;
      --bs-btn-active-color: #fff;
      --bs-btn-active-bg: #222;
      --bs-btn-active-border-color: #222;
      --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
      --bs-btn-disabled-color: #fff;
      --bs-btn-disabled-bg: #000;
      --bs-btn-disabled-border-color: #000;

      &::before {
        background-image: url('/images/ico-apple.svg');
      }
    }
  }

  @media screen and (width >= 768px) {
    button {
      flex-basis: auto;
    }
  }
}

.main-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  font-weight: 500;
  color: #222;
  margin-top: 40px;
  margin-bottom: 48px;
}

.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  color: var(--bs-gray-700);

  svg {
    color: var(--bs-gray-900);
  }
}

.fs-xs {
  font-size: 0.75rem;
}

.fs-sm {
  font-size: 0.875rem;
}

.fs-md {
  font-size: 1rem;
}

.fs-lg {
  font-size: 1.125rem;
}

.fs-xl {
  font-size: 1.25rem;
}

.fs-xxl {
  font-size: 1.5rem;
}
